h1,
h2 {
  text-align: center;
}

p {
  width: 600px;
  margin: 1em auto;
}

#game {
  margin: auto;
  position: relative;
  height: 300px;
  width: 500px;
}

#start,
#end {
  position: absolute;
  top: 205px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  padding: 5px;
  cursor: default;

  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 25pt;
  text-align: center;
}

#game #start {
  background-color: #88ff88;
  left: 0;
}

#game #end {
  background-color: #8888ff;
  right: 0;
}

div.boundary {
  background-color: #eeeeee;
  border: 1px solid black;
}

div.boundary.example {
  margin: auto;
  width: 100px;
  height: 25px;
}

div.youlose {
  background-color: #ff8888;
}

/*
Hack hack hack; these are CSS "sibling selectors" for selecting
neighboring elements.  Necessary to avoid giving ids to the boundary divs
*/

#game div.boundary {
  position: absolute;

  top: 0;
  left: 0;
  height: 200px;
  width: 150px;
  z-index: 1;
}

#game div.boundary + div.boundary {
  border-left: none;
  border-right: none;
  z-index: 2;

  left: 151px;
  height: 50px;
  width: 198px;
}

#game div.boundary + div.boundary + div.boundary {
  border-left: 1px black solid;
  border-right: 1px black solid;
  z-index: 1;

  left: 348px;
  height: 200px;
  width: 150px;
}

#game div.boundary + div.boundary + div.boundary + div.boundary {
  border: 1px black solid;

  top: 250px;
  left: 0;
  height: 48px;
  width: 498px;
}

#game div.boundary + div.boundary + div.boundary + div.boundary + div.boundary {
  border-bottom: none;

  top: 100px;
  left: 200px;
  height: 150px;
  width: 98px;
}
.info {
  height: 200px;
}
.coin {
  position: absolute;
}
.coin span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: gold;
  border-radius: 50%;
  border: 5px solid #f0c420;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 100;
}
.coin1 {
  left: 160px;
  top: 220px;
}
.coin2 {
  left: 317px;
  top: 52px;
}
.coin3 {
  left: 300px;
  top: 210px;
}

.coin span::before {
  content: "s";
  font-size: 20px;
  color: #8a5c29;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#game {
  position: relative;
}
#reset {
  text-align: center;
  margin: 20px;
}
#reset p {
  padding: 10px 20px;
  border: solid, #5353e0, 2px;
  width: fit-content;
  background-color: #8888ff;
  color: white;
  transition-duration: 0.2s;
}
#reset p:hover {
  background-color: #3131cb;
}
